* {
    margin: 0;
    padding: 0;

}

body {
    background-color: blue;
    /*background: url(clouds.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

:root {
    --background: rgba(135, 207, 235, 0.19);
    --background2: rgba(220, 238, 249, 0.838);
    --background3: rgba(135, 206, 250, 0.348);
}

.header {

    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;

}

.rubrik1 {
    font-size: 2rem;

}

.searchBox {
    border: 1px white;
    outline: 0;
    background-color: var(--background3);
    padding: 20px 25px;
    width: 60%;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: rgba(255, 255, 255, 0.754) 20px 20px 92px 92px;


}

.searchBtn {
    border: 1px white;
    outline: 0;
    background-color: var(--background3);

    width: 60px;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
}

.searchBtn:hover {
    scale: 1.3;
}

.errorMessage {
    font-size: 1.2em;
    display: none;
}

.weatherContainer {
    padding: 20px;

    text-align: center;
    border: 1px solid white;
    background-color: var(--background3);

}

.dateTime {
    text-align: start;
}

.mainInformation :nth-child(1) {

    font-size: 35px;
    padding: 10px;
    text-shadow: 2px 2px var(--background2);

}

.mainInformation :nth-child(2) {

    font-size: 40px;
    padding: 10px;

}

.mainInformation :nth-child(3) {

    font-size: 24px;
    padding: 30px;
}

.icon {
    margin-bottom: 20px;
    text-align: center;

}

.weatherDetails :nth-child(1) {
    padding: 7px;
    font-size: 18px;
}

.weatherDetails :nth-child(2) {
    padding: 7px;
    font-size: 18px;
}

.weatherDetails :nth-child(3) {
    padding: 7px;
    font-size: 18px;
}

@media screen and (max-width: 930px) {
    .header {

        height: auto;
        display: flex;

        flex-wrap: wrap;
        gap: 10px;

        margin-top: 10px;
        margin-left: 10px;

    }

    .search {
        min-width: 250px;
    }

    .weatherContainer {

        margin-top: 20px;

    }

    .dateTime {
        text-align: center;
    }
}